body {
  background: url(../img/iphonewhite.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
a {
  color:#3498DB;
  
} 
a:hover {
  color:#2980B9;
  text-decoration: none;
}
.block-wrapper {
  margin-top:15px;
}
.block-wrapper a {
  font-size:2em;
  text-decoration: none;
}
.res {
  padding:15px;

}
.res a {
  color:#E74C3C;

}
.res a:hover {
  color:#C0392B;
}

.mail {
  padding:15px 0 15px 0;
}
.mail a {
  color: #1ABC9C;
}
.mail a:hover {
  color:#16A085;
}
.linked-in {
  padding:15px 0 15px 0;
}
.linked-in a:hover {
  color:#2980B9;
}
p {
  margin:0 0 0 0;
}
.text-justify {
  text-align: justify;
}
.img-lead {
  margin-bottom:10px;
}
.lead {
  margin-bottom:0px;
}
.top-container {
  margin-top:10%;
}
.header {
  padding-bottom:90px;
}
/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 3.5em;
  font-weight: 400;
}